.project-6-page-wrapper{
  
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  .project-6-page-wrapper >h2{
    padding: 10px 35px;
    margin-bottom: 10px;
    border: 1px solid;
    text-align: center;
    color: black;
    font-family:sans-serif;
  }
  
  
  .project-6-wrapper{
    width:600px;
    margin-left:150px;
    height: 400px;
   
  }
  
  .counter-box-wrapper{
    width: 600px;
    margin: 50px;
    height: 300px;
    background-color: rgb(192, 166, 137);
    box-shadow: 10px 10px 20px 20px brown;
    text-align: center;
  }
  
  .counter-number{
    font-size: 150px;
    color: white;
  }
  
  .count-btns{
    padding:20px;
    width:auto;
    background-color: blue;
    font-size:20px;
    margin-top: 10px;
    margin-right: 5px;
    font-family: sans-serif;
    border-radius: 10px;
    border: 2px solid pink;
    color: white;
 
  }
  
  .count-btns:hover{
    background-color: green;
  }
  
